* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.index {
    background: url(../assets/img/fondo.jpg);
    background-size: cover;
    text-align: center;
    font-family: breaking-bad;
}

.form {
    background-color: bisque;
    font-family: helvetica, arial, sans-serif;
}

.title {
    text-align: center;
    padding: 1rem 0;
}

.logo {
    width: 200px;
    height: 200px;
    margin: .5rem 0 1.5rem 0;
}

.index h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: bold;
}

.poster {
    width: 700px;
    height: 300px;
    outline: 10px solid brown;
    border-radius: 22px;
}

.form form {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: auto;
    gap: 1rem;
}

.form form fieldset {
    display: flex;
    flex-direction: column;
    gap: .2rem
}

.form form input {
    padding: .2rem;
}

.form-gender,
.form-birthdate {
    display: flex;
    margin: .3rem;
    gap: .2rem;
}

@font-face {
    font-family: breaking-bad;
    src: url(../assets/fonts/Breaking\ Bad.ttf);
}