* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.index {
    background: url(../assets/img/fondo.jpg);
    background-size: cover;
    text-align: center;
    font-family: breaking-bad;
}

.logo {
    width: 200px;
    height: 200px;
    margin: .5rem 0 1.5rem 0;
}

.index h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: bold;
}

.poster {
    width: 700px;
    height: 300px;
    outline: 10px solid brown;
    border-radius: 22px;
}

@font-face {
    font-family: breaking-bad;
    src: url(../assets/fonts/Breaking\ Bad.ttf);
}